*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.App{
  height:750vh ;
  /* width: 100vw; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(35,1fr);
  grid-template-areas: "Nav" "home" "home" "home" "home"
  "pub" " slider-one" " slider-one" " slider-one" "explore"
  "explore" "explore" "explore" "explore" "travel"
  "travel" "travel"   "travel" "travel"
  "offer" "offer" "offer" "offer" "offer"
  "trust" "trust" "trust" "trust"
  "subscribe" "subscribe" "subscribe" "subscribe"
  "footer" "footer" "footer";
  gap: 20px;
}
/* the styling of the nav bar */
.nav-bar{
  grid-area: Nav;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "left left middel middel middel middel middel middel right right ";
  gap: 20px;
  padding: 30px 0px ;
}
.left-side-nav-bar{
  grid-area: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  padding: 10px;
}
.logo{
  width: 30px;
  height: 30px;
}
.logo-text{
  font-size: 20px;
  font-weight: bold;
}
.middel-side-nav-bar{
  grid-area: middel;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
li{
  list-style: none;
  font-size:15px ;
  cursor: pointer;
}
.right-side-nav-bar{
  grid-area: right;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr;
  gap: 20px;
}
.btn-sign-up{
  background-color: #5D50C6;
  border-radius: 20px;
  border: transparent;
  display: block;
  margin: 10px;
  cursor: pointer;
}
.btn-log-in{
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.214);
  display: block;
  margin: 10px;
  border: transparent;
  border-radius:20px ;
  background-color: transparent;
  cursor: pointer;
}
/* the styling of the home section */
.home{
  grid-area: home;
  display:grid ;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "left left left left right right right right right right";
}
.circlex {
  width: 200px;
  height: 200px;
  filter: blur(150px);
  background-color:#FF5722;
  position: absolute;
  bottom: 450px;
  left: -50px;
}
.left-side-home{
  grid-area: left;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10,1fr);
  gap: 15px;
  grid-template-areas: "one" "one " "two" "two" "two" 
  "two" "three" "three" "four" "four" ;
  padding: 20px;
}
.left-side-home1-content{
  grid-area: one;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.bag-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  width: 50%;
  height: 50%;
  border-radius: 20px;
  padding: 0 10px;
  color: #F85E9F;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.108);
}
.bag-style{
  font-size: 20px;
}
.bag-text{
  font-size: 20px;
}
.left-side-home2-content{
  grid-area: two;
}
.text-home{
  font-size: 45px;
  font-weight: bold;
}
.text-home span{
  color: #F85E9F;
}
.text2-home{
  font-size: 45px;
  font-weight: bold;
  color: #F85E9F;
}
.left-side-home3-content{
  grid-area: three;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgba(0, 0, 0, 0.37);
}
.left-side-home4-content{
  grid-area: four;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-template-rows: 1fr;
}
.left-btn-home{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.left-btn-home button{
  width: 70%;
  height: 60%;
  border-radius: 20px;
  background-color: #5D50C6;
  color: white;
  border: transparent;

}
.right-btn-home{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.right-btn-home div{
  width: 70%;
  height: 60%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding:10px;
  background-color: transparent;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.301);
}
.right-btn-home div .icon-play{
  color: #5D50C6;
}
.right-side-home{
  grid-area: right;
  position: relative;
}
.layer-img{
  position: absolute;
  width: 500px;
  left: 100px;
}
.Rectangle1{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 150px;
  top: 50px;
}
.Rectangle2{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 150px;
  top: 270px;
}
.Rectangle3{
  position: absolute;
  width: 400px;
  height: 300px;
  left: 280px;
  top: 100px;
}
.Frame1{
  position: absolute;
  left: 500px;
  top: 300px;
  width: 150px;
}
.Frame2{
  position: absolute;
  width: 100px;
  left: 100px;
  top: 200px;
}
.Frame3{
  position: absolute;
  width: 100px;
  left: 450px;
  top: 400px;
}
/* the styling of the pub section */
.pub-section{
  grid-area: pub;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: 1fr;
  gap: 10px;
  padding: 20px;
  grid-template-areas: "top pub pub pub pub pub pub pub pub pub";
}
.top-arrow{
  grid-area: top;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-arrow-img{
  width: 50%;
}
.pub-logos{
  grid-area: pub;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.img-gourpe{
  width: 120px;
}
/* the styling of the slider section */
.slider-one{
  grid-area: slider-one;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
  grid-template-areas: " left right right";
}
.left-slider-one{
  grid-area: left;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,1fr);
  grid-template-areas: "." "container" ".";
}
.container-services{
  grid-area: container;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
  flex-direction: column;
  gap: 5px;
}
.top-text-container-services{
  color: #F85E9F;
  font-weight: bold;
}
.bottom-text-container-services{
  font-size: 30px;
  font-weight: bold;
}
.right-slider-one{
  grid-area: right;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  overflow-x: scroll;
}
.container-slider-one{
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: 1fr;
  gap: 20px;
}
.right-slider-one::-webkit-scrollbar{
  display: none;
}
.slider-one-item{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: repeat(10,1fr);
  grid-template-areas: "img" "img" "img" "text1" "text1"
  "text2" "text2" "text2" "." ".";
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.215);
  border-radius: 20px;
  background-color: white;
  z-index: 2;
}
.slider-one-item-img{
  grid-area: img;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-slider-one{
  width: 50px;
  height: 50px;
}
.slider-one-item-text1{
  grid-area: text1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-one-item-text2{
  grid-area: text2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
  color: rgba(0, 0, 0, 0.352);
}
.circle2 {
  width: 150px;
  height: 150px;
  filter: blur(150px);
  background-color:#FACD49;
  position: absolute;
  right: 0;
  top: 800px;
  z-index: -2;
}
/* the styling of the explore section */
.explore{
  grid-area: explore;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10,1fr);
  grid-template-areas: "header" "header" "content" "content" "content"
  "content" "content" "content" "content" "content";
  padding: 10px;
}
.header-explore{
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows:1fr;
  padding: 10px 20px;
  grid-template-areas: "left left left left .  . right right right right";
}
.left-side-header-explore{
  grid-area: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding:  0px 10px;
  flex-direction: column;
  gap: 5px ;
}
.left-side-header-explore p{
  font-weight: bolder;
  color: #F85E9F;
}
.left-side-header-explore p + p{
  font-weight: bolder;
  color: black;
  font-size: 30px;
}

.right-side-header-explore{
  grid-area: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px 20px;
}
.container-btn-explore{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.258);
}
.container-btn-explore1{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5D50C6;
  cursor: pointer;
}
.container-btn-explore1 {
  color: white;
}
.content-explore-container{
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: 1fr;
  grid-template-areas: " . . cart cart cart cart cart cart . .";
  padding: 10px 0px;
}
.cart-container{
  grid-area: cart;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
  gap: 0 20px;
}
.card-item-explore{
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10,1fr);
  grid-template-areas: "img" "img" "img" "img" "img"
  "content" "content" "content" "content" "content";
  box-shadow: 0px 10px 12px 2px rgba(0, 0, 0, 0.278);
  margin: 25px 10px;
}
.card-item-explore-img{
  grid-area: img;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:25px 25px 0px 0px ;
  position: relative;
}
.img-explore{
  width: 100%;
  position: absolute;
  top: -10px;
  left: 0;
}
.card-item-explore-content{
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5,1fr);
  grid-template-areas: "top" "top" "bottom" "bottom" ".";
}
.card-item-explore-content-top{
  grid-area: top;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5,1fr);
  grid-template-areas: "left left left left right";

}
.card-item-explore-content-top div{
  grid-area: left ;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 0px 5px;
  font-weight: bolder;
}
.card-item-explore-content-top div + div {
  grid-area: right;
  color: #F85E9F;
}
.card-item-explore-content-bottom{
  grid-area: bottom;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 10px;
  gap:  10px ;
}
.card-item-explore-content-bottom + p{
  color: rgba(0, 0, 0, 0.307);
}
.card-item-explore-content-bottom p + div{
  color: #FF5722;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.card-item-explore-content-bottom + p + div + p{
  color: #FF5722;
}
.travel-section{
  grid-area: travel;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows:1fr;
  grid-template-areas: "img img img img img content  content  content  content  content" ;
}
.travel-section-img{
grid-area: img;
position: relative;
}
.travel-section-img img{
  width: 100%;
  position: absolute;
}
.travel-section-content{
grid-area: content;
display: grid;
grid-template-rows:1fr;
grid-template-columns:  repeat(10,1fr);
grid-template-areas: "left left left left left left left left right right ";
gap: 20px;
}
.travel-section-content-img{
grid-area: right;
position: relative;
}
.travel-section-content-img div{
  width: 70px;
  height: 70px;
  background-color: #FACD49;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -140px;
  top: 300px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.115);
}
.travel-section-content-left{
  grid-area: left;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10,1fr);
  grid-template-areas: "header" "header" "header" "descreption" "descreption" 
  "card" "card" "card" "card" "card";
}
.header-travel-section-content{
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
  padding: 10px;
}
.header-travel-section-content p{
  color: #F85E9F;
  font-size: 20px;
}
.header-travel-section-content h1{
  font-size:45px ;
}
.descreption-travel-section-content{
  grid-area: descreption;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px ;
}
.descreption-travel-section-content p{
  width: 300px;
  color: rgba(0, 0, 0, 0.31);
  line-height: 1.5;
}
.card-travel-section-content{
  grid-area: card;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 40px;
  padding: 40px 90px;
}
.card-travel-section-content div{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px ;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.196);
}
.card-travel-section-content div p{
  color: #FF5722;
}
.card-travel-section-content div p +p{
  color: black;
}
/* the styling of the offer section */
.offer-section{
  grid-area: offer;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "left left left left left right right right right right";
  padding: 20px 100px;
  gap: 20px;
}
.offer-section-content{
grid-area: left;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(10,1fr);
grid-template-areas: "top" "top" "top" "top" "bottom"
"bottom" "bottom" "bottom" "bottom" "bottom";
padding: 30px 20px;
}
.header-offer-section{
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.header-offer-section p{
  color: #F85E9F;
  font-size: 20px;
}
.header-offer-section p + p{
  color: black;
  font-size: 40px;
}
.header-offer-section p + p + p{
  color: rgba(0, 0, 0, 0.326);
  font-size: 15px;
  width: 350px;
  line-height: 1.3;
}
.content-offer-section{
  grid-area: bottom;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,1fr);
  padding: 10px 20px;
  gap: 20px;
}
.offer-item-container{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(10,1fr);
  gap: 10px;
  grid-template-areas: "left left right right right right right right right right right";
}
.left-offer-item-content{
  grid-area: left;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-offer-item-content img{
  position: absolute;
  width: 40px;
}
.right-offer-item-content{
  grid-area: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 10px;
}
.right-offer-item-content p{
  font-size: 20px;
}
.right-offer-item-content  p + p{
  font-size: 13px;
}
.offer-section-img{
grid-area: right;
position: relative;
}
.photo1{
  position: absolute;
  top: 20px;
  left: 100px;
  width: 280px;
  
}
.photo2{
  position: absolute;
  top: 250px;
  left: 230px;
  width: 200px;
}
.photo3{
  position: absolute;
  top: 100px;
  left: 250px;
  width: 250px;
}
.BACKGROUND{
  position: absolute;
  top: 0;
  left: 250px;
  width: 200px;
  z-index: -2;
}
/* the styling of the trust section */
.trust-section{
  grid-area: trust;
  background-image: url(../Images/Layer1.svg);
  background-position: center ;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: 1fr;
  grid-template-areas: " . . slider slider slider slider slider slider . . ";
  padding: 50px 0px ;
}
.Trust-slider{
  grid-area: slider;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "icon1 sliderItem sliderItem sliderItem sliderItem sliderItem sliderItem sliderItem sliderItem icon2";
}
.Trust-icon1{
  grid-area: icon1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Trust-icon2{
  grid-area: icon2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; 
  color: white;
}
.container-icon-trust{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.218);
  background-color:white;
  cursor: pointer;
}
.container-icon-trust2{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5D50C6;
}

.Trust-slider-item{
  grid-area: sliderItem;
  position: relative;
}
.Trust-item{
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10,1fr);
  grid-template-areas: "header" "headLine" "headLine" "img" "img"
  "img" "username" "star" "descreption" "descreption";
  padding: 5px;
  gap: 10px;
  transition: display 2s ;
}
.trust-hide{
  display: none;
}
.Trust-header{
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #F85E9F;
}
.head-line{
grid-area: headLine;
display: flex;
justify-content: center;
align-items: center;
font-size: 25px;
}
.Trust-image{
grid-area: img;
display: flex;
justify-content: center;
align-items: center;
}
.Trust-image img{
  width: 70px;
}
.Trust-Username{
grid-area: username;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
}
.Trust-Username span{
  color: #FF5722;
  font-size: 20px;
}
.Stars-container{
grid-area: star;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}
.Stars{
  color: #FACD49;
  font-size: 12px;
}
.Trust-descreption{
grid-area: descreption;
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
font-size: 13px;
text-align: center;
}
/* the styling of the subscribe section */
.subscribe{
  grid-area: subscribe;
  position: relative;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: 1fr;
  padding: 50px 0px;
  grid-template-areas: " . . container container container container container container .  . ";
}
.corner{
  position: absolute;
  width: 100px;
  left: 230px;
  top: 25px;
}
.subscribe-container{
grid-area: container;
background-color: #face4925;
display: grid;
border-radius: 10px;
padding: 0px 20px;
grid-template-columns: 1fr;
grid-template-rows: repeat(10,1fr);
grid-template-areas: "." "." "header" "line" "line"
"input" "input" "input" "." ".";
gap: 10px;
}
.our-text{
grid-area: header;
color: #F85E9F;
text-align: center;
font-size: 20px;
}
.h1-sub{
grid-area: line;
text-align: center;
}
.contaianer-input-sub{
grid-area: input;
display: grid;
grid-template-columns: repeat(10,1fr);
grid-template-rows: 1fr;
padding: 35px 0px;
grid-template-areas: "input input input input input input . btn btn .";
}
.inputcontent{
  grid-area: input;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.151);
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: 1fr;
  gap: 20px;
  background-color: white;
  border-radius: 15px;
  grid-template-areas: "icon  icon  input  input   input   input  input  input  input  input  ";
}
input[type="email"]{
  grid-area: input;
  border: transparent;
  background-color: transparent;
  font-size:17px ;
  color: black;
}
input[type="email"]::placeholder{
  color: black;
}
input[type="email"]:focus{
  outline: none;
}
.email-icon{
grid-area: icon;
display: flex;
justify-content: flex-end;
align-items: center;
}
.email-icon .iconE{
  font-size: 20px;
}
.btn-subscribe{
  grid-area: btn;
  background-color: #5D50C6;
  border-radius: 15px;
  color: white;
  border: transparent;
  cursor: pointer;
}
.object-img{
  position: absolute;
  width: 80px;
  right:0 ;
  bottom: -125px;
}
/* the styling of the footer section */
.footer{
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: 1fr;
  padding: 20px;
  gap: 10px;
  grid-template-areas: "left left left right right right right right right right";
}
.left-footer-content{
grid-area: left;
display: grid;
grid-template-rows: repeat(10,1fr);
grid-template-columns: 1fr;
grid-template-areas: "header" "header" "content" "content" "content" 
"content" "content" "icons" "icons" ".";
}
.left-content1-foooter{
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.logo-in-footer{
  width: 30px;
}
.travel-text-footer{
  font-size:20px ;
  font-weight: bolder;
}
.left-content2-foooter{
grid-area: content;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px 100px 0px 0px ;
font-size: 17px;
color: rgba(0, 0, 0, 0.347);
line-height:1.5 ;
}
.left-content3-foooter{
grid-area: icons;
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: row;
gap: 20px;
}
.icon-social-media{
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: #5D50C6;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.right-footer-content{
  justify-content: flex-start;
grid-area: right;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: 1fr;
gap: 20px;
}
.right-content1-footer{
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.right-content2-footer{
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.right-content3-footer{
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.bold{
  font-weight: bolder;
  font-size: 20px;
}